


.about-header {
  background-color: #434954;
  padding: 0;
  width: auto;
  height: 230px;
  text-align: center;
}


.about-header img {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}


.title {
  

	padding-right: 19px;

}

.card {
    height: auto;
    display: flex;
    flex-direction: column;
    padding-left: 16px;

}

.card img {
  width: 100%;
  height: 100%;


}